@import "tailwindcss";

@theme{
    --color-Blue: hsl(180, 66%, 49%);
    --color-Purple: hsl(257, 27%, 26%);
    --color-Red: hsl(0, 87%, 67%);
    --color-Gray-400: hsl(0, 0%, 75%);
    --color-Gray-500: hsl(257, 7%, 63%);
    --color-Gray-900: hsl(255, 11%, 22%);
    --color-Gray-950: hsl(260, 8%, 14%)
}